{% comment %}
  Section demo for sale page
{% endcomment %}
<div class="page-width">
  <h1>test Page</h1>
  <p>This is test demo.</p>
</div>

{% schema %}
{
  "name": "Test",
  "settings": [],
  "presets": [
    {
      "name": "Test"
    }
  ]
}
{% endschema %}
